on: [push, workflow_dispatch]

jobs:
  latex-job:
    runs-on: ubuntu-latest
    name: Compile Latex file
    steps:
    - uses: actions/checkout@v1
    - name: Compilation
      uses: vinay0410/tectonic-action@master
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tex_path: 'thesis.tex'
        push: 'yes'
